/* Navbar styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body{
    background: #DAE3E5
  }
  
  .navbar {
    background: linear-gradient(to right, #5D8BCC, #BBD1EA); /* gradiente che sfuma da #ff9900 a #ff5f6d */
   
  }
  
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar-item {
    float: left;
  }
  
  .navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    background-color: #111;
  }
  