

img {
  max-width: 40%; /* L'immagine si ridimensionerà per adattarsi alla larghezza del suo contenitore */

  margin-left: 30%;
}

.spiegone{
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  
}

