/* Navbar styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body{
    background: #DAE3E5
  }
  
  .navbar {
    background: linear-gradient(to right, #5D8BCC, #BBD1EA); /* gradiente che sfuma da #ff9900 a #ff5f6d */
   
  }
  
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar-item {
    float: left;
  }
  
  .navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    background-color: #111;
  }


  .rules-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 8px;
    
  }
  
  .rules-container h1 {
    color: #333;
    text-align: center;
    width: 80%; /* Larghezza massima del contenitore delle regole */
    margin: 20px auto; /* Centrare il contenitore */
    
  }
  
  .rules-list {
    list-style-type: disc; /* Utilizza un elenco puntato */
    margin-top: 20px;
    
  }
  
  .rules-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 1.7;
    font-size: 22px;
  }