
  .rules-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 8px;
    
  }
  
  .rules-container h1 {
    color: #333;
    text-align: center;
    width: 80%; /* Larghezza massima del contenitore delle regole */
    margin: 20px auto; /* Centrare il contenitore */
    
  }
  
  .rules-list {
    list-style-type: disc; /* Utilizza un elenco puntato */
    margin-top: 20px;
    
  }
  
  .rules-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 1.7;
    font-size: 22px;
  }